
.form-wrapper, .search-results-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 14px 20px;
  background: url("https://novyknowschicagodotcom.files.wordpress.com/2016/01/chicago-stars-80b1f49b.png");
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}

.form-container, .results-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(238, 237, 237, 0.637);
  width: 400px;
  height: 250px;
  border-radius: 10px;
  padding: 14px 20px;
}

.header-container-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  width: 30%;
  height: 100px;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', sans-serif;
}

input[type=text], select {
  background-color: rgb(212, 212, 212);
  color: rgb(217, 78, 65);
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit] {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10%;
  background-color:rgb(217, 78, 65);
  color: rgb(225, 225, 255);
  padding: 14px 20px;
  margin: 28px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: rgb(179, 221, 242);
}

